.main_contact {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.right_contact img {
    width: 45vw;
}

@media screen and (max-width: 805px) {
    .main_contact {
        flex-direction: column;
    }
    .right_contact img {
        /* display: inline-block; */
        display: flex;
        justify-content: center;
        width: 95vw;
        margin-left: 2vw!important;
    }
    .left_contact {
        margin: 20px;
    }
}