.signPera{
    font-size: 10px;
    text-align: left;
}

.checkSpan{
    font-size: 11px;
    /* line-height: 0%; */
}

.divCheck{
    /* border: 1px solid red; */
    text-align: left;
}
.emailGrid-Div{
    text-align: left;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .emailGridDiv{
        /* left: 25%; */
        /* margin-right: 20%; */
        /* border: 2px solid green !important; */
        width: 100% !important;
        /* align-items: center; */
    }
    .datePick{
        margin-left: 20%;
        width: 100%;
        /* text-align: center !important; */
        /* border: 2px solid green; */
    }
    .Gender{
        margin-left: 34%;
    }
}